.App {
    /*
    font-family: sans-serif;
    text-align: center;
    font-size: 10px;
    */
  }
  
  .carousel-item {
    height: 350px;
  }
  
  .carousel-image-1 {
    background: url('/img/banner_sala.jpg');
    background-size: cover;
    
  }
  
  .carousel-image-2 {
    background: url('/img/banner_auto1.jpg');
    background-size: cover;
  }
  
  .carousel-image-3 {
    background: url('/img/banner_gym.jpg');
    background-size: cover;
  }

  #whatsapp-icon {
    font-size:48px;
    color:green;
  }

  .map {
    height: 300px;
  }
  
  @media screen and (min-width: 1024px){
      .map {
          height: 500px;
      }
  }