body {
  overflow-x: hidden;
}

.carousel-item {
  height: 350px;
}

.carousel-image-1 {
  background: url('/img/banner_sala.jpg');
  background-size: cover;
}

.carousel-image-2 {
  background: url('/img/banner_auto1.jpg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('/img/banner_gym.jpg');
  background-size: cover;
}

#whatsapp-icon {
  font-size: 48px;
  color: green;
}

#twitter-logo {
  height: 20px;
  margin-left: 5px;
}

.map {
  height: 300px;
}

a.twitterLink:link {
  text-decoration: none;
}

a.twitterLink:visited {
  text-decoration: none;
}

a.twitterLink:hover {
  text-decoration: none;
}

a.twitterLink:active {
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .map {
    height: 500px;
  }
}
